Debug/
Release/
*.opensdf
*.sdf
*.suo
*.user
ipch/
/.vs/SP1Framework/v16/Browse.VC.db-shm
/.vs/SP1Framework/v16/Browse.VC.db-wal
/.vs/SP1Framework/v16/Browse.VC.opendb
/.vs/SP1Framework/v16/Browse.VC.db
/.vs/SP1Framework/v16/TestStore/0
