Debug/
Release/
*.opensdf
*.opendb
*.sdf
*.suo
*.user
ipch/
*.db
*.db-shm
*.db-wal
*.opendb
.vs/SP1Framework/v16/Browse.VC.db
*.vs
*.tlog
*.iobj
*.ipdb
*.idb
*.pdb
*.recipe
*.log
*.ilk
*.db
*.json
*.db
*.sqlite
